.mySwiper {
  position: relative;
}

.slideContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 72px;
  padding-right: 100px;
  height: 100%;
}

.imageBox {
  width: 1040px;
}
.imageBox img {
  height: 100%;
  object-fit: cover;
}

.slideTxt {
  position: absolute;
  left: 7%;
  top: 41%;
}

.slideTxt h1 {
  font-size: 88px;
  font-family: "Raleway";
  font-weight: 800;
  color: #60a2da;
  line-height: 1.2;
  mix-blend-mode: screen;
  transform: translateX(50px);
  transition: all 1.6s ease-in-out;
  transition-delay: 0.4s;
  opacity: 0;
}

.slt2 h1 {
  color: #c88e65;
}

.slt3 h1 {
  color: #d5ad46;
}

.slt4 h1 {
  color: #f6a607;
}

.slideTxt button {
  background-color: #60a2da;
  color: #f2f2f2;
  padding: 20px 40px;
  font-size: 18px;
  font-family: "Raleway";
  margin-top: 50px;
  transition: all 0.3s;
}

.slideTxt button:hover {
  filter: brightness(1.1);
}

.slt2 button {
  background-color: #c88e65;
}

.slt3 button {
  background-color: #d5ad46;
}

.slt4 button {
  background-color: #f6a607;
}

.slideTxt p {
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #222;
}

.slideTxt p span {
  font-weight: 200;
  letter-spacing: 3px;
  margin-left: 15px;
}

.scroll span {
  background: #000;
  display: block;
  height: 2px;
  margin-right: 20px;
  width: 20px;
}

.scroll em {
  font-size: 14px;
  font-weight: 400;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.scroll {
  animation: scroll 1s ease-in-out infinite alternate;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}

.swiper-button-prev,
.swiper-button-next {
  color: transparent;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
  top: 50%;
  max-height: 70px;
}

span.swiper-pagination-bullet {
  width: 27px;
  border-radius: 15px;
  height: 8px;
}

.swiper-pagination-bullet-active {
  width: 49px !important;
  background-color: #ffb100;
}

.swiper-slide.swiper-slide-active .slideTxt h1 {
  transform: translateX(0);
  opacity: 1;
  animation: fadeRight 1.6s ease-in-out;
}
